<% if params[:controller] == 'about' %>
<div class="well">
<h3>Location Info</h3>
	<ul>
		<li>The Bookstore</li>
		<li>1010 Market Street, Ste. 214</li>
		<li>San Francisco, CA 90302</li>
	</ul>
</div> 
<% end %>

<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <a href="#" class="list-group-item">Ruby on Rails</a>
  <a href="#" class="list-group-item">PHP</a>
  <a href="#" class="list-group-item">HTML5</a>
</div>
<% end %>
